<!doctype html>
<title> Welcome to cloud</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
<center>
<h1> Hey this is Balaji<br>
	 Welcome<br>
	 <br><br><br><br></center>
<h3><a href="/upload">Upload xls file </a><br>
<a href="/view_data">View Data file </a><br>
<a href="/cluster">Clustering of Earthquakes </a><br>
<a href="/earth"> Pie chart of Earthquakes  </a><br>
<a href="/titanic_success"> Pie chart of People survived </a><br>
<a href="/Bearth"> Bar chart of Earthquakes </a><br>
<a href="/Btitanic_success"> Bar chart of People survived </a><br></h3>

</body>
</html>