<!doctype html>
<title> Welcome to cloud</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
<center>
<h1> Hey this is Balaji<br>
	 Welcome<br>
	 <br><br><br><br></center>
<center><h3><a href="/upload">Upload csv file </a><br>
<a href="/view_data">View Data file </a><br>
<a href="/query_gen">Generate random queries </a><br>
<a href="/cached_query">Generate cached queries </a><br>
<a href="/restrict">Restricted queries </a><br>
<a href="/loc_query">Generate loc queries </a><br></h3></center>

</body>
</html>