<html>
<title> Search Engine</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   <body>
   <center><h1> Balaji <br>
10001576836</h1></center>
   <h1>Search by query</h1>
   <br> <br> <br> <br> <br> <br>
      <center><form method="POST" action="{{ url_for('loc_query_success') }}" enctype=multipart/form-data >
         Input number of queries to be generated:  <input type = "number" name = "query1" /><br>
		  Input id start letter:  <input type = "text" name = "query" /><br>
         <input type = "submit" name = "Generate"/>
      </form></center>
      
   </body>
</html>