<!doctype html>
<title> Welcome to cloud</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
<center>
<h1> Hey this is Balaji<br>
	 Welcome<br>
	 <br><br><br><br></center>
<h3><a href="/upload">Upload csv file </a><br>
<a href="/view_data">View Data file </a><br>
<a href="/search">Search earthquake locations </a><br>
<a href="/magnitude">Search by Magnitude</a><br>
<a href="/find_location">Find locations </a><br>
<a href="/quest">Query on earthquake frequency </a><br>
<a href="/cluster">Clustering of Earthquakes </a><br>
<a href="/loc_source">Sources of Earthquakes </a><br></h3>

</body>
</html>